.mininotice p {
	padding: 0;
	margin: 0;
}
.mininotice{
	position: fixed;
	left: 50%;
	top: 24px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 1px;
	border: 2px solid #C0CCDA;
}
.info{
	box-shadow: 0 0 0 4px #20A0FF,
	4px 4px 20px 0px #1F2D3D;
}
.success{
	box-shadow: 0 0 0 4px #13CE66,
	4px 4px 20px 0px #1F2D3D;
}
.warning{
	box-shadow: 0 0 0 4px #F7BA2A,
	4px 4px 20px 0px #1F2D3D;
}
.danger{
	box-shadow: 0 0 0 4px #FF4949,
	4px 4px 20px 0px #1F2D3D;
}
@keyframes appear{
	0%{
		transform: translateX(-50%) scale(0);
	}
	100%{
		transform: translateX(-50%) scale(1);
	}
}
@keyframes disappear{
	0%{
		transform: translateX(-50%) scale(1);
	}
	100%{
		transform: translateX(-50%) scale(0);
	}
}
.appear{
	animation: .4s appear;
	animation-fill-mode: forwards;
}
.disappear{
	animation: .4s disappear;
	animation-fill-mode: forwards;
}
.mininotice p{
	font-size: 14px;
	color: #475669;
	box-sizing: border-box;
	padding: 8px 40px 8px 20px;
	text-align: center;
}
.mininotice .noClose{
	padding: 8px 30px;
}
.mininotice .close{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 8px;
	margin: auto 0;
	width: 16px;
	height: 16px;
	color: #8492A6;
	cursor: pointer;
	transition: .2s;
}
.mininotice .close:hover{
	color: #475669;
}
.mininotice .close:after{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 2px;
	box-shadow: inset 0 0 0 10000px;
	transform: rotate(45deg);
}
.mininotice .close:before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 2px;
	height: 100%;
	box-shadow: inset 0 0 0 10000px;
	transform: rotate(45deg);
}